<section class="about container">
    <h1 class="text-center mb-5">About Us</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <img src="https://images.unsplash.com/photo-1615820346289-9581ad2a8bf7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWdyaWN1bHV0cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                  <p>
                      Patashida Web Application takes advantage of machine learning principles to predict the 
                      plant disease from user input. <br> The farmer is required to upload a picture of the plant then he/she will be able to receive the possible disease the plant is most likely to have<br> The farmer is also able to receive a short description or text of steps to follow in solving the issue. 
                  </p>
              </div>
            </div>
          </div>
        </div>
        <br>
  
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                  <p>
                      This PataShida Web Application mainly aims in solving several issues that farmers undergo. <br> Grow with us now. 
                  </p>
          
                  
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                  <img src="https://images.unsplash.com/photo-1633209174553-870cdca1cfd0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njl8fGFncmljdWx1dHJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" height="300">
              </div>
            </div>
          </div>
        </div>    
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
      <div class="follow text-center">
          <h4>Follow us</h4>
          <a href="https://twitter.com/">Twitter</a>
          <a href="https://www.facebook.com/">Facebook</a>
          <a href="https://www.instagram.com/">Instagram</a>
          <a href="https://www.youtube.com/">Youtube</a>
  
      </div>
      <br>
      <br>
      <div class="row">
         <div class="twelve columns">
            <ul class="copyright text-center p-4 display-7">
               <p>&copy; Copyright 2021 PataShida Web Application Agriculture </p>
            </ul>
          </div>
      </div>
    </footer>
