
<!-- =============== -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('https://miro.medium.com/max/1400/1*-tBQRmUT-T3J8ImJIDSxDg.jpeg');background-position: top;background-repeat: no-repeat; background-size: cover;height: 500px;object-fit: cover;width:100%">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <!-- <h2 style="color: #fff; font-size: 8rem;" class="text-center">About Us</h2> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area" style="margin-top: 30px;">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p style="font-size: 2.4rem;">About us</p>
              <h2><span style="color: yellowgreen;font-size: 2rem;margin-top: 5px;">Let Us</span> Tell You Our Story</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. Etiam nunc elit, pretium atlanta urna veloci, fermentum malesuda mina. Donec auctor nislec neque sagittis, sit amet dapibus pellentesque donal feugiat. Nulla mollis magna non
              sanaliquet, volutpat do zutum, ultrices consectetur, ultrices at purus.</p>
            <a href="#" class="btn famie-btn mt-30" style="background-color: yellowgreen;">Read More</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="img/bg-img/6.jpg" alt="">
            <!-- Play Icon -->
            <a href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->
 <!-- ##### Team Member Area Start ##### -->
 <section class="team-member-area section-padding-100-0 mt-5" >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <p style="font-size:1.5rem;">MEET OUR TEAM</p>
          <h2 style="font-size: 2rem;"><span style="color: yellowgreen;">The Great Team</span> Will Always Help You</h2>
          <img src="" alt="" style="width: 200px;">
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row mt-4 mb-5">

      <!-- Single Team Member -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="100ms">
          <!-- Team Thumbnail -->
          <div class="team-img">
            <img src="https://avatars.githubusercontent.com/u/85181128?v=4" alt="" style="width: 300px;">
            <!-- Social Info -->
            <div class="team-social-info">
              <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
          <!-- Team Member Info -->
          <div class="team-member-info">
            <h5  style="font-size: 1.3rem; margin-top: 10px;">Joseph Gakumo Munyui</h5>
            <h6 style="font-size: 1rem;">Scrum master</h6>
          </div>
        </div>
      </div>

      <!-- Single Team Member -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="300ms">
          <!-- Team Thumbnail -->
          <div class="team-img">
            <img src="https://avatars.githubusercontent.com/u/86775657?v=4" alt="" style="width: 300px;">
            <!-- Social Info -->
            <div class="team-social-info">
              <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
          <!-- Team Member Info -->
          <div class="team-member-info">
            <h5  style="font-size: 1.3rem; margin-top: 10px;">Shalin Rono Chepkoech</h5>
            <h6 style="font-size: 1rem;">Backend Developer</h6>
          </div>
        </div>
      </div>

      <!-- Single Team Member -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
          <!-- Team Thumbnail -->
          <div class="team-img">
            <img src="https://avatars.githubusercontent.com/u/85213671?v=4" alt="" style="width: 300px;">
            <!-- Social Info -->
            <div class="team-social-info">
              <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
          <!-- Team Member Info -->
          <div class="team-member-info">
            <h5  style="font-size: 1.3rem; margin-top: 10px;">Maureen Ougo Akinyi</h5>
            <h6 style="font-size: 1rem;">Backend Developer</h6>
          </div>
        </div>
      </div>

      <!-- Single Team Member -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="700ms">
          <!-- Team Thumbnail -->
          <div class="team-img">
            <img src="https://avatars.githubusercontent.com/u/85181128?v=4" alt="" style="width: 300px;">
            <!-- Social Info -->
            <div class="team-social-info">
              <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
          <!-- Team Member Info -->
          <div class="team-member-info">
            <h5 style="font-size: 1.3rem; margin-top: 10px;">Jamal Mohamend </h5>
            <h6 style="font-size: 1rem;">Front-end Developer</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Team Member Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area m-2">
    <!-- Main Footer Area -->
    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-color:grey">
      <div class="container">
        <div class="row">

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/logo2.png" alt=""></a>
              <p>Lorem ipsum dolor sit amet, consecte stare adipiscing elit. In act honcus risus atiner Pellentesque risus.</p>
              <div class="contact-info">
                <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New York</span></p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i><span>info.deercreative@gmail.com</span></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
              </div>
            </div>
          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">QUICK LINK</h5>
              <!-- Footer Widget Nav -->
              <nav class="footer-widget-nav">
                <ul>
                  <li><a href="#" style="color: black;text-decoration: none;">AgroProducts</a></li>
                  <li><a href="#" style="color: black;text-decoration: none;">About</a></li>
                  <li><a href="#" style="color: black;text-decoration: none;">Shipping</a></li>
                  <li><a href="#" style="color: black;text-decoration: none;">FAQs</a></li>
                  <li><a href="#" style="color: black;text-decoration: none;">Seeds</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">RECENT NEWS</h5>

              <!-- Single Recent News Start -->
              <div class="single-recent-blog d-flex align-items-center">
                <div class="post-thumbnail">
                  <img src="img/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                  <a href="#" class="post-title" style="color: black;text-decoration: none;">WA’s largest farming business on the market</a>
                  <div class="post-date">18 Aug 2018</div>
                </div>
              </div>

              <!-- Single Recent News Start -->
              <div class="single-recent-blog d-flex align-items-center">
                <div class="post-thumbnail">
                  <img src="img/bg-img/5.jpg" alt="">
                </div>
                <div class="post-content">
                  <a href="#" class="post-title" style="color: black;text-decoration: none;">Beef retail prices hit a record</a>
                  <div class="post-date">18 Aug 2018</div>
                </div>
              </div>

            </div>
          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">

          </div>

        </div>
      </div>
    </div>

    <!-- Copywrite Area  -->
    <div class="copywrite-area" style="background-color: rgb(235, 243, 229);">
      <div class="container">
        <div class="copywrite-text">
          <div class="row align-items-center">
            <div class="col">
              <p class="text-center">© 2021 Copyright <a href="#" style="color: green;">Patashida</a>. Food Farm & Agricultural Business </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area End ##### -->
